name: CI Pipeline

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: CI Test
        run: echo "CI working"

      - name: Validate HTML/CSS
        run: echo "No build steps (static site)"
